@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/ProximaNovaRegular.svg#webfont') format('svg');
}
body {
    font-family: 'Proxima Nova', sans-serif;
}