 @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/ProximaNovaRegular.svg#webfont') format('svg');
 }
 body {
    font-family: 'Proxima Nova', sans-serif;
    color:darkgray;
 }
 #bg-heder{
   background-color: white;
 }
 .heder{
    width: 1000px;
    margin: 0 auto;
    height: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 40px;
 }
 .text-heder{
     color: black;
     font-size: 55px;
 }
 .text {
    font-size: 140%;
    font-family: serif;


 }
 .text:first-letter {
    font-size: 4em; 
    padding: 5px; 
    margin-right: 5px;
    color: black;
    float: left; 
    line-height: 0.43em; 
}
 .text-color {
     font-family: inherit;
  
 }
 .text-color-1 {
    font-family: cursive;
}
 
 span{
     font-size: 40px;
     font-family: emoji;
 }
 .btn{
    border: 1px solid orange;
    font-size: 17px;
    text-transform: uppercase;
    background-color: transparent;
    color: orange;
    padding: 10px 20px;
    cursor: pointer;
 }
 .red {
    color:red!important;
  
}
